<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4">Rails Blog App</h1>
      See <%= link_to "Articles", articles_path %>
      <hr>
      <p>Hosted on <a href="https://www.render.com/">render</a></p>
    </div>
  </div>
</main>